main {
    padding: 60px;
}

.blue-box {
    background-color: blue;
    height: 60px;
    margin-bottom: 100px;
    width: 60px;
} 

.red-box {
    background-color: red;
    border: 1px black solid;
    height: 250px;
    width: 200px;
}